main {
    padding: 48px;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-family: "Inter", sans-serif;
}

.login-left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-left-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 420px;
    width: 100%;
}
.login-header {
    display: flex;
    flex-direction: column;
    gap: 6px;
    color: var(--text);
}
.login-header h1 {
    letter-spacing: -0.03px;
}

.login-buttons {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.login-buttons a {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    border: 1px solid var(--border);
    border-radius: var(--radius-md);
    padding: var(--padding-md);
    background-color: var(--card);
    color: var(--text);
    text-decoration: none;
    font-weight: 600;
    transition: 0.4s;
}
.login-buttons a:hover {
    background-color: var(--disabled);
    opacity: 0.8;
}

.login-buttons a svg {
    position: absolute;
    left: 0;
    top: 50%;
    padding-left: 10px;
    transform: translateY(-50%);
}

.or-email {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.line {
    width: 100%;
    background-color: #333;
    border-radius: var(--radius-sm);
    height: 1px;
}
.line-text {
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-container form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.input label {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: var(--text);
}
.input input {
    outline: none;
    border: 1px solid var(--input-border);
    border-radius: var(--radius-md);
    padding: var(--padding-md);
    color: var(--text);
    background-color: var(--input-bg);
    transition: 0.4s;
}
.input input:focus {
    border-color: var(--hover);
    filter: brightness(120%);
}

.login-send {
    padding: var(--padding-md);
    border: 1px solid var(--border);
    border-radius: var(--radius-md);
    cursor: pointer;
    background-color: var(--button);
    color: #fff;
    font-weight: 600;
    transition: 0.4s;
}
.login-send:hover {
    background-color: var(--hover);
}
.login-send:disabled{
    cursor: not-allowed;
    background-color: var(--disabled);
    color: var(--text-secondary);
    transition: 0.4s;
}
.login-send:disabled:hover {
    background-color: var(--disabled);
    color: var(--text-secondary);
}



.forgot-register {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    font-family: "Inter", sans-serif;
    color: var(--text);
}
.forgot-register a {
    text-decoration: none;
    color: var(--button);
    transition: 0.4s;
}
.forgot-register a:hover {
    color: var(--hover);
}
.forgot-register a:active {
    color: var(--active);
}