:root {
    --bg: #f8fafc;
    --card: #f1f5f9;
    --border: #e2e8f0;

    --text: #0f172a;
    --text-secondary: #64748b;

    --button: #22c55e;
    --hover: #16a34a;
    --active: #15803d;

    --accent-soft: #dcfce7;
    --disabled: #e2e2e2;

    --padding-sm: 6px;
    --padding-md: 12px;
    --padding-lg: 18px;

  
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 12px;
    --radius-xl: 16px;

  
    --input-bg: #f8fafc;
    --input-border: #cbd5e1;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg);
    animation: animate-body 1.5s ease-in-out;
}

@keyframes animate-body {
    from {transform: translateY(-100px);}
    to {transform: translateY(0);}
}

.notifications {
    position: absolute;
    right: 20px;
    bottom: 30px;
    height: 100%;
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column-reverse;
    gap: 6px;
}

.notification-true {
    display: block;
    width: 240px;
    border: none;
    border-radius: var(--radius-md);
    background: linear-gradient(240deg,rgba(0, 110, 40, 1) 0%, rgba(22, 163, 74, 1) 51%, rgba(0, 214, 79, 1) 100%);
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    padding: var(--padding-lg);
}

.notification-false {
    display: block;
    width: 240px;
    border: none;
    border-radius: var(--radius-md);
    background: linear-gradient(240deg,rgba(143, 0, 0, 1) 14%, rgba(199, 0, 0, 1) 63%, rgba(255, 0, 0, 1) 100%);
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    padding: var(--padding-lg);
}

.top_nav {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: var(--padding-md);
    border-bottom: 1px solid var(--border);
    color: var(--text-primary);
    font-family: "Inter", sans-serif;
    font-size: 1.05rem;
    background-color: var(--bg);
}

.nav_container {
    display: flex;
    flex-direction: row;
    gap: auto;
    width: 1140px;
    font-weight: 600;
}

.nav_links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 6px;
    flex-grow: 1;
}
.nav_links li {
    padding: var(--padding-md);
}
.nav_links a {
    text-decoration: none;
    color: var(--text);
    transition: 0.4s;
}
.nav_links a:hover {
    color: var(--hover);
    opacity: 0.8;
}

.nav_buttons {
    min-width: 321px;
    flex-shrink: 0;
    display: flex;
    margin: 0 auto;
}
.nav-buttons-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.langs-btn, .langs-container ~ a {
    padding: var(--padding-md);
}

.langs-btn {
    border: none;
    background-color: transparent;
    font-size: 1.05rem;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: var(--text);
    cursor: pointer;
    border-radius: var(--radius-md);
    transition: 0.4s;
}
.langs-btn:hover {
    color: var(--hover);
    opacity: 0.8;
}
.langs-container ~ a {
    text-decoration: none;
    color: var(--text);
    transition: 0.4s;
}
.langs-container ~ a:hover {
    color: var(--hover);
    opacity: 0.8;
}

.langs-container {
    position: relative;
}

.not-visible {
    opacity: 0 !important;
    pointer-events: none !important;
    transition: 0.4s;
}

.langs {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 4px;
    opacity: 1;
    pointer-events: all;
    background-color: transparent;
    transition: 0.4s;
}
.langs button {
    color: var(--text-primary);
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 1.05rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: var(--radius-md);
    transition: 0.2s;
}
.langs button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
}
