<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="yanny63">
        <meta name="description" content="A Gym App - Login">
        <meta name="viewport" content="initial-scale=1.0, width=device-width">
        
        <title data-i18n="login:title"></title>

        <script src="https://unpkg.com/i18next@23/i18next.min.js" defer></script>
        <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
        <script src="https://unpkg.com/i18next-http-backend@2/i18nextHttpBackend.min.js" defer></script>
        <script src="{{ url_for('static', filename='js/lang.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/login.js') }}" defer></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='pages/login.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav class="top_nav">
            <div class="nav_container">
                <ul class="nav_links">
                    <li><a href="/" data-i18n="common:home"></a></li>
                    <li><a href="" data-i18n="common:training">Trening</a></li>
                    <li><a href="" data-i18n="common:exercise">Ćwiczenia</a></li>
                    <li><a href="" data-i18n="common:calculator">Kalkulator</a></li>
                    <li><a href="" data-i18n="common:timer">Stoper</a></li>
                </ul>
                <div class="nav_buttons">
                    <div class="nav-buttons-container">
                        <div class="langs-container">
                            <button class="langs-btn" data-i18n="common:lang"></button>
                            <div class="langs not-visible"> 
                                <button onclick="changeLanguage('pl')">Polski</button>
                                <button onclick="changeLanguage('en')">English</button>
                                <button onclick="changeLanguage('es')">Español</button>
                            </div>
                        </div>
                        {% if not current_user.is_authenticated %}
                        <a href="#" data-i18n="common:login"></a>
                        <a href="{{ url_for('register') }}" data-i18n="common:signup"></a>
                        {% else %}
                        <a href=""><span data-i18n="common:myaccount"></span>
                        {% endif %}
                        {% if current_user.profile_picture %}
                        <img src="">
                        {% else %}
                        <img src="images/default.png">
                        {% endif %}
                        </a>
                    </div>
                </div>
            </div>
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>
        <main>
            <section class="login-left">
                <div class="login-left-container">
                    <div class="login-header">
                        <h1 data-i18n="login:log_in"></h1>
                        <p data-i18n="login:login-ur-acc"></p>
                    </div>
                    <div class="login-buttons">
                        <a href="/google">
                            <svg width="30px" height="30px" viewBox="-3 0 262 262" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid">
                                <path d="M255.878 133.451c0-10.734-.871-18.567-2.756-26.69H130.55v48.448h71.947c-1.45 12.04-9.283 30.172-26.69 42.356l-.244 
                                1.622 38.755 30.023 2.685.268c24.659-22.774 38.875-56.282 38.875-96.027" fill="#4285F4"/>
                                <path d="M130.55 261.1c35.248 0 64.839-11.605 86.453-31.622l-41.196-31.913c-11.024 7.688-25.82 13.055-45.257 13.055-34.523 
                                0-63.824-22.773-74.269-54.25l-1.531.13-40.298 31.187-.527 1.465C35.393 231.798 79.49 261.1 130.55 261.1" fill="#34A853"/>
                                <path d="M56.281 156.37c-2.756-8.123-4.351-16.827-4.351-25.82 0-8.994 1.595-17.697 4.206-25.82l-.073-1.73L15.26 71.312l-1.335.635C5.077 
                                89.644 0 109.517 0 130.55s5.077 40.905 13.925 58.602l42.356-32.782" fill="#FBBC05"/>
                                <path d="M130.55 50.479c24.514 0 41.05 10.589 50.479 19.438l36.844-35.974C195.245 12.91 165.798 0 130.55 0 79.49 0 35.393 29.301 13.925 
                                71.947l42.211 32.783c10.59-31.477 39.891-54.251 74.414-54.251" fill="#EB4335"/>
                            </svg>
                            <span data-i18n="login:with-google"></span>
                        </a>
                        <a href="">
                            <svg fill="#000000" width="30px" height="30px" viewBox="-52.01 0 560.035 560.035" xmlns="http://www.w3.org/2000/svg">
                                <path d="M380.844 297.529c.787 84.752 74.349 112.955 75.164 113.314-.622 1.988-11.754 40.191-38.756 79.652-23.343 
                                34.117-47.568 68.107-85.731 68.811-37.499.691-49.557-22.236-92.429-22.236-42.859 0-56.256 21.533-91.753 22.928-36.837 
                                1.395-64.889-36.891-88.424-70.883-48.093-69.53-84.846-196.475-35.496-282.165 24.516-42.554 68.328-69.501 115.882-70.192 
                                36.173-.69 70.315 24.336 92.429 24.336 22.1 0 63.59-30.096 107.208-25.676 18.26.76 69.517 7.376 102.429 55.552-2.652 1.644-61.159 
                                35.704-60.523 106.559M310.369 89.418C329.926 65.745 343.089 32.79 339.498 0 311.308 1.133 277.22 18.785 257 42.445c-18.121 20.952-33.991 
                                54.487-29.709 86.628 31.421 2.431 63.52-15.967 83.078-39.655"/>
                            </svg>
                            <span data-i18n="login:with-apple"></span>
                        </a>
                    </div>
                    <div class="or-email">
                        <span class="line"></span>
                        <span class="line-text" data-i18n="login:oremail"></span>
                        <span class="line"></span>
                    </div>
                    <div class="form-container">
                        <form onsubmit="return false" autocomplete="off">
                            <div class="input">
                                <label for="user" data-i18n="login:user"></label>
                                <input id="user" type="text" data-i18n-placeholder="login:user-placeholder" autocomplete="off">
                            </div>
                            <div class="input">
                                <label for="password" data-i18n="login:password"></label>
                                <input id="password" type="password" data-i18n-placeholder="login:password-placeholder" autocomplete="new-password">
                            </div>
                            <button class="login-send" data-i18n="login:login" disabled></button>
                        </form>
                        <div class="forgot-register">
                            <a href="" data-i18n="login:forgot"></a>
                            <p><span data-i18n="login:new"></span> <a href="{{ url_for('register') }}" data-i18n="login:signup"></a></p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="login-right">

            </section>
        </main>
        <div class="notifications"></div>
    </body>
</html>