<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="yanny63">
        <meta name="description" content="A Gym App">
        <meta name="viewport" content="initial-scale=1.0, width=device-width">
        
        <title data-i18n="home:title"></title>

        <script src="{{ url_for('static', filename='js/timer.js') }}" defer></script>
        <script src="https://unpkg.com/i18next@23/i18next.min.js" defer></script>
        <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
        <script src="https://unpkg.com/i18next-http-backend@2/i18nextHttpBackend.min.js" defer></script>
        <script src="{{ url_for('static', filename='js/lang.js') }}" defer></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='pages/timer.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    </head>
    <body>
        <nav class="top_nav">
            <div class="nav_container">
                <ul class="nav_links">
                    <li><a href="/#home" data-i18n="common:home"></a></li>
                    <li><a href="" data-i18n="common:training"></a></li>
                    <li><a href="" data-i18n="common:exercise"></a></li>
                    <li><a href="/calculator" data-i18n="common:calculator"></a></li>
                    <li><a href="#" data-i18n="common:timer"></a></li>
                </ul>
                <div class="nav_buttons">
                    <div class="nav-buttons-container">
                        <div class="langs-container">
                            <button class="langs-btn" data-i18n="common:lang"></button>
                            <div class="langs not-visible"> 
                                <button onclick="changeLanguage('pl')">Polski</button>
                                <button onclick="changeLanguage('en')">English</button>
                                <button onclick="changeLanguage('es')">Español</button>
                            </div>
                        </div>
                        <a href="{{ url_for('login') }}" data-i18n="common:login"></a>
                        <a href="{{ url_for('register') }}" data-i18n="common:signup"></a>
                    </div>
                </div>
            </div>
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>
        <main>
            <div class="timer">
                <div class="timer-timer">
                    <div class="timer-container">
                        <span id="timer">00:00:00</span>
                        <button onclick="save()" class="flag not-visible">
                            <svg width="30" height="30" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg">
                                <rect x="15" y="20" width="8" height="80" fill="#222" />
                                <circle cx="19" cy="15" r="6" fill="#222"/>
                                <path d="
                                    M25 25
                                    C40 15, 60 15, 75 20
                                    C90 25, 100 20, 110 18
                                    L110 70
                                    C100 72, 90 75, 75 70
                                    C60 65, 40 65, 25 75
                                    Z" fill="#222"/>
                            </svg>
                        </button>
                    </div>
                    <div class="buttons">
                        <button class="start" onclick="start()" data-i18n="timer:start"></button>
                        <button class="stop" onclick="stop_interval()" data-i18n="timer:stop"></button>
                        <button class="reset" onclick="reset()" data-i18n="timer:reset"></button>
                    </div>
                </div>
            </div>
            <div class="saved-timestamps">

            </div>
        </main>
    </body>
</html>