<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="yanny63">
        <meta name="description" content="A Gym App">
        <meta name="viewport" content="initial-scale=1.0, width=device-width">
        
        <title data-i18n="training:title"></title>

        
        <script src="https://unpkg.com/i18next@23/i18next.min.js" defer></script>
        <script src="https://unpkg.com/i18next-http-backend@2/i18nextHttpBackend.min.js" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/js/tom-select.complete.min.js" defer></script>
        <script src="{{ url_for('static', filename='js/lang.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/training.js') }}" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.10/dayjs.min.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.10/plugin/relativeTime.min.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.10/plugin/utc.min.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.10/locale/pl.min.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.10/locale/es.min.js" defer></script>
        <script src="{{ url_for('static', filename='js/timer.js') }}" defer></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/css/tom-select.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='pages/training.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav class="top_nav">
            <div class="nav_container">
                <ul class="nav_links">
                    <li><a href="/#home" data-i18n="common:home"></a></li>
                    <li><a href="#" data-i18n="common:training"></a></li>
                    <li><a href="" data-i18n="common:exercise"></a></li>
                    <li><a href="/calculator" data-i18n="common:calculator"></a></li>
                    <li><a href="/timer" data-i18n="common:timer"></a></li>
                </ul>
                <div class="nav_buttons">
                    <div class="nav-buttons-container">
                        <div class="langs-container">
                            <button class="langs-btn" data-i18n="common:lang"></button>
                            <div class="langs not-visible"> 
                                <button onclick="changeLanguage('pl')">Polski</button>
                                <button onclick="changeLanguage('en')">English</button>
                                <button onclick="changeLanguage('es')">Español</button>
                            </div>
                        </div>
                        <a href="{{ url_for('login') }}" data-i18n="common:login"></a>
                        <a href="{{ url_for('register') }}" data-i18n="common:signup"></a>
                    </div>
                </div>
            </div>
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>
        <main>
            <aside class="training-aside">
                <a class="isLink" href="" data-i18n="training:training"></a>
                <a class="isLink" href="" data-i18n="training:progress"></a>
                <a class="isLink" href="" data-i18n="training:training_plans"></a>
                <a class="isLink" href="" data-i18n="training:goals"></a>
                <a class="isLink" href="" data-i18n="training:stats"></a>
            </aside>
            <article class="training-article not-visible">
                <section id="todays-workout" class="section">
                    <div class="createWorkout">
                        <h1 data-i18n="training:no-trainings-yet"></h1>
                        <button data-i18n="training:add"></button>
                    </div>

                    <div class="todays-workout-container">
                        <span id="span-date"></span>
                        <h1 data-i18n="training:todays-t"></h1>
                        <div class="training-info">
                            <h3 id="training-name"></h3>
                            <div class="training-exercises-container">
                                <div class="isTable">
                                    <div class="tableHeader">
                                        <div data-i18n="training:exercise"></div>
                                        <div data-i18n="training:sets"></div>
                                        <div data-i18n="training:reps"></div>
                                    </div>
                                    <div class="isLine"></div>
                                    <div class="rows" id="training-exercises-js-container"></div>
                                </div>
                                <button class="startWorkout" data-i18n="training:start-workout"></button>
                                <button class="seeWorkoutInfo" data-i18n="training:review-workout"></button>
                            </div>
                        </div>
                    </div>
                    <div class="break" id="firstSectionBreak"></div>
                </section>
                <div class="sectionBreak"></div>
                <section id="middle-section" class="section">
                    <div class="recent-activity-parent">
                        <h1 data-i18n="training:recent-activity"></h1>
                        <div class="recent-activity-container">
                        
                        </div>
                    </div>

                    <div class="break"></div>

                    <div class="current-goals"> 
                        <div class="no-goals">
                            <h1 data-i18n="training:no-goals"></h1>
                            <button class="addGoal" data-i18n="training:add"></button>
                        </div>
                        
                        <div class="current-goals-container">
                            <h1 data-i18n="training:current-goals"></h1>
                            <div class="goals">
                                
                            </div>
                            <button class="addGoal" data-i18n="training:add"></button>
                        </div>
                    </div>

                    <div class="break"></div>

                    <div class="last-sessions">
                        <h1 data-i18n="training:last-sessions"></h1>
                        <div class="last-sessions-container">
                            <div class="isTable">
                                <div class="tableHeader">
                                    <div data-i18n="training:training"></div>
                                    <div data-i18n="training:date"></div>
                                </div>
                                <div class="isLine"></div>
                                <div class="rows" id="last-sessions-js-container">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="training-adder not-visible">
                        <button class="exit-adder">X</button>
                        <div class="training-name">
                            <label for="trainingName" data-i18n="training:workoutName"></label>
                            <input type="text" id="trainingName" data-i18n-placeholder="training:workoutName-placeholder">
                        </div>
                        <div class="training-exercise not-visible">
                            <div>
                                <label for="exercise" data-i18n="training:exercise"></label>
                                <input id="exercise" type="text" data-i18n-placeholder="training:exercise-placeholder">
                            </div>
                            <div>
                                <label for="sets" data-i18n="training:exercise-sets"></label>
                                <input id="sets" type="number" min="1" data-i18n-placeholder="training:exercise-number-placeholder">
                            </div>
                            <div>
                                <label for="reps" data-i18n="training:exercise-reps"></label>
                                <input id="reps" type="number" min="1" data-i18n-placeholder="training:exercise-reps-placeholder">
                            </div>
                            <div>
                                <label for="breaks" data-i18n="training:exercise-breaks"></label>
                                <input id="breaks" type="number" min="1" data-i18n-placeholder="training:exercise-breaks-placeholder">
                            </div>
                        </div>
                        <div class="training-buttons">
                            <button class="training-button" id="save" data-i18n="training:save"></button>
                            <button class="training-button" id="next" data-i18n="training:next"></button>
                            <button class="training-button" id="previous" data-i18n="training:previous"></button>
                            <button class="training-button" id="remove" data-i18n="training:remove"></button>
                        </div>
                    </div>

                    <div class="setGoal not-visible">
                        <label for="setGoal" data-i18n="training:setGoal"></label>
                        <input id="setGoal" type="text" data-i18n-placeholder="training:setGoal-placeholder">
                        <button id="saveGoal" data-i18n="training:save"></button>
                    </div>
                </section>
                <section class="section not-visible" id="training_ongoing">
                    <div class="ongoing-training-div-container">
                        <h1 id="training_name"></h1>
                        <div class="exercise">
                            <h3 id="exercise_name"></h3>
                            <div class="ongoing-container">
                                <label for="ongoing_weight" data-i18n="training:weight"></label>
                                <input class="ongoing-input" type="number" min="1" id="ongoing_weight" data-i18n-placeholder="training:exercise-weight-placeholder">
                            </div>
                            <div class="ongoing-container">
                                <label for="ongoing_reps" data-i18n="training:reps"></label>
                                <input class="ongoing-input" min="1" id="ongoing_reps" type="number" data-i18n-placeholder="training:exercise-number-placeholder">
                            </div>
                            <div class="ongoing-container">
                                <label for="ongoing_sets" data-i18n="training:exercise-current-set"></label>
                                <input id="ongoing_sets" class="ongoing-input" data-i18n-placeholder="training:exercise-number-placeholder" type="number" readonly>
                            </div>
                            <div class="ongoing-container">
                                <label for="ongoing-breaks" data-i18n="training:exercise-breaks"></label>
                                <input id="ongoing-breaks" min="1" class="ongoing-input" data-i18n-placeholder="training:exercise-breaks-placeholder" type="number">
                            </div>
                            <div class="ongoing_buttons">
                                <button id="ongoing_next" class="ongoing_button" data-i18n="training:next"></button>
                                <button id="ongoing_previous" class="ongoing_button not-visible" data-i18n="training:previous"></button>
                                <button id="ongoing_end" class="ongoing_button" data-i18n="training:end"></button>
                            </div>
                            <div class="ensure">
                                <p data-i18n="training:are-u-sure"></p>
                                <div>
                                    <button id="yes" data-i18n="training:yes"></button>
                                    <button id="no" data-i18n="training:no"></button>
                                </div>
                            </div>
                        </div>

                        <!-- TIMER -->
                        <div class="timer">
                            <div class="timer-timer">
                                <div class="timer-container">
                                    <span id="timer">00:00:00</span>
                                    <button onclick="save()" class="flag not-visible">
                                        <svg width="30" height="30" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg">
                                            <rect x="15" y="20" width="8" height="80" fill="#222" />
                                            <circle cx="19" cy="15" r="6" fill="#222"/>
                                            <path d="
                                                M25 25
                                                C40 15, 60 15, 75 20
                                                C90 25, 100 20, 110 18
                                                L110 70
                                                C100 72, 90 75, 75 70
                                                C60 65, 40 65, 25 75
                                                Z" fill="#222"/>
                                        </svg>
                                    </button>
                                </div>
                                <div class="buttons">
                                    <button class="start" onclick="start()" data-i18n="timer:start"></button>
                                    <button class="stop" onclick="stop_interval()" data-i18n="timer:stop"></button>
                                    <button class="reset" onclick="reset()" data-i18n="timer:reset"></button>
                                </div>
                            </div>
                        </div>
                        <div class="saved-timestamps">

                        </div>
                    </div>
                    <div class="workout-done not-visible">
                        <h1 data-i18n="training:workout-done"></h1>
                        <div class="isDone">
                            
                        </div>
                        <button class="done-button" data-i18n="training:continue"></button>
                    </div>
                </section>
            </article>
            

            <div class="loader">
                <div class="spinner"></div>
            </div>
            
        </main>
        <div class="overlay not-visible"></div>
    </body>
</html>
